MYSQL_USERNAME=root
MYSQL_PASSWORD=gnpassword
MYSQL_POOL=50
MYSQL_DATABASE=good_night
MYSQL_ROOT_PASSWORD=gnpassword
MYSQL_HOST=good_night_mysql
MYSQL_PORT=3306

MYSQL_TEST_USERNAME=root
MYSQL_TEST_PASSWORD=gnpassword
MYSQL_TEST_POOL=50
MYSQL_TEST_DATABASE=good_night_test
MYSQL_TEST_ROOT_PASSWORD=gnpassword
MYSQL_TEST_HOST=good_night_mysql
MYSQL_TEST_PORT=3306

# JWT
JWT_SECRET=AdbErjF5Pjc9OdhjDGfxnwnXkEJ9zBb8

# KAFKA
KAFKA_BROKERS=kafka:29092
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:29092,PLAINTEXT_HOST://kafka:9092
KAFKA_BROKER_ID=1
KAFKA_NUM_PARTITIONS=5
KAFKA_AUTO_CREATE_TOPICS_ENABLE="true"
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP="PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT"
KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT

# ZOOKEPER
ZOOKEEPER_CLIENT_PORT=2181
ZOOKEEPER_TICK_TIME=2000
