MYSQL_USERNAME=root
MYSQL_PASSWORD=gnpassword
MYSQL_POOL=50
MYSQL_DATABASE=good_night
MYSQL_ROOT_PASSWORD=gnpassword
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

MYSQL_TEST_USERNAME=root
MYSQL_TEST_PASSWORD=gnpassword
MYSQL_TEST_POOL=50
MYSQL_TEST_DATABASE=good_night_test
MYSQL_TEST_ROOT_PASSWORD=gnpassword
MYSQL_TEST_HOST=127.0.0.1
MYSQL_TEST_PORT=3306
